@media (max-width: 991px) {

    /* Custom Classes */
    .text-content {
        width: 100%;
    }

    /* Navbar brand */
    .navigation-wrap .navbar-brand img {
        height: 3.5rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.8rem;
    }

    /* TOP banner */
    .top-banner {
        padding: 9.375rem 0 9.375rem !important;
    }

    /* Carousel design */
    .testimonial-section .carousel-item .carousel-caption p {
        padding: 0;
    }

}


@media (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem; 
        line-height: 2.0625rem;
    }

    /* TOP Banner */
    .top-banner {
        padding: 10.625rem 0 9.375rem;
    }

    /* story */
    .story-section {
        height: auto;
        padding: 3rem 0rem;
    }

    .story-section h2{
        font-size: 1rem !important;
        line-height: 1.785rem;
    }

    /* carousel mobile */
    .testimonial-section .carousel-item {
        margin-top: 3rem !important;
        padding: 9rem 3.2rem;
    }

    /* news letter */
    .newsletter {
        width: 75% !important;
    }

    .newsletter .main-btn {
        width: 100%;
        margin-top: 1rem;
    }

    /* footer */
    .footer .footer-link,
    .footer a i{
        padding: 0 0.8rem;
    }
}


@media (max-width: 391px) {

    /* carousel mobile */
    .testimonial-section .carousel-item{
        padding: 12rem 3.2rem;
        border: 2px solid black;
    }

    .testimonial-section .carousel-item p{
      padding: 0  0.4rem !important;
    }

}